
header input{
  width: 90%;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  border: 1px solid #b9b9b9;
  height: 35px;
  padding-left: 10px;
  margin-top: 3px;
}
.headerP{
  color: red;
}
ul{
  padding: 0;
  margin-left: 0;
  margin-top: -60px !important;
}
ul li{
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
button{
  border-radius: 3px !important;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid gray;
  margin-right: 3px !important;
}
button i{
  font-size: 12px !important;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark:after {
  display: block;
}

.radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}